/*  */



*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #3ACBFB;
    --red: #e25f5f;
    --light-blue: #CCCCE8;
    --secondary-blue: #9A9AC1;
    --hline-size: 0.4em;

    --1:#000000;
    --2:#0CADF2;
    --3:#0CF268;
    --4:#2192C2;
    --5:#21C261;
    --6:#406C80;
    --7:#408059;
    --8:#804040;
    --9:#805E40;
    --10:#808080;
    --11:#A1ADB2;
    --12:#A1B2A8;
    --13:#B2A1A1;
    --14:#B2A9A1;
    --15:#C22121;
    --16:#C26E21;
    --17:#C3D9E3;
    --18:#C3E3D0;
    --19:#E3C3C3;
    --20:#E3D2C3;
    --21:#F20C0C;
    --22:#F27B0C;
    --23:#FFFFFF;
}

html {
    background:linear-gradient(to bottom,rgb(128, 240, 234),rgb(212, 115, 115));
 
}
.hide {
    display: none;
}
.show {
    display: block;
}
body {
    /* background: linear-gradient(0deg, var(--red) 15%, var(--blue) 85%); */
    background:linear-gradient(to bottom,rgb(128, 240, 234),rgb(212, 115, 115));
    /* overscroll-behavior: contain; */
    /* background-size: contain; */
    min-height: 100vh;
    width: 100%;
    height: 100%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
    background-repeat:  no-repeat;
}
.hitler{
    background: linear-gradient(0deg,#7F000C,#A60414);
    background: linear-gradient(to top left,#7F000C -10%,#A60414 200%) !important;
}


.info {
    background-color: #C5DDE0; 
    height: 90px;
    width: 267px;
    padding: 1em;   
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.info>p {
    
}
.info>h1 {
    color:#979797;
    
}
.info>button{
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    height:60px;
    width: 60px;
    top: 15px;
    right: 15px;
    border-radius: 50%;;
    border: none;
    background: linear-gradient(to top left,#ECF2EA82,#eef0ed82);
    opacity: .7;
    z-index: 2;
    backdrop-filter: blur(4px);
    transition: all ease-in-out 200ms ;

}
.info>button:hover{
    box-shadow: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
}

.info::after{
    content:'';
    position: absolute;
    width: 150px;
    height:30px;
    right: -30px;
    border: solid 10px #b1bdb1;
    top: 20px;
    transform: rotate(-75deg);
    opacity: .4;

}









main {
    position: relative;
    flex-direction: column;
    height: 100vh;
}
section{
    width: auto;
}
.bgSvg {
    position: absolute;
    opacity: .8;
}
#stability {
    top: 2em;
    left: calc(50%-2.5em);
}
#chaos {
    bottom: 2em;
    right: calc(50%-2.5em);
}

.input {
    flex-direction: row;
    color: white;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input button{
    height: 4em;
    padding: 0 2em;
    border-radius: 1em;   
    border: none;
    margin-top: .5em;
}
.input button:disabled {
    /* background-color:red; */
    opacity: .1;
    display: none;
}
.input button:hover{
    background-color:var(--light-blue);

    transition: 0.2s ease-in-out;
}

#or{
    flex-direction: column;
    min-width: 10em;
    color: var(--light-blue);
}

#or h1{
    font-weight: 100;
    font-size: 3em;
}
.input input{
    background-color: white;
    text-decoration: none;
    border: none;
    width: 10em;
    max-height:2em;
    border-radius: .5em;
    padding:1em;
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-blue);
    outline: none;
    font-size: 2em;
} 
.input input::placeholder{
    color:var(--light-blue);
    font-weight: 100;
    font-style: italic;
} 
.hline{
    height: calc(10*var(--hline-size));
    background-color: var(--light-blue);
    border-radius: 1em;
    width: var(--hline-size);
}
.code input {
    width: 2em;
    height: 2em;
    padding:0 .2em;
    font-weight: 1000;
    transition: 0.5 ease;
}
.code {
    /* margin: .4em; */
    width: auto;
    margin-bottom: 1.5em;
}
.code input:focus, .input input:focus {
    box-shadow: 0 2px 4px rgba(0,0,0,0.7);
    transition: 0.5s ease-in-out;

}
.left {
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
}
.validationMessage {
    /* border: solid 1px var(--light-blue); */
    height:1em;
    margin:.5em.5em;
    color:white;
    display: flex;
    justify-content: center;
    /* align-content: center; */
}

#loginScreen {
    height: 100vh;
    display: grid;
    /* align-items: flex-end; */
    grid-template-rows: 5fr 1fr 5fr;
    gap: 1rem;
    /* flex-direction: column; */
    /* align-items: flex-end; */
}
#loginScreen>section:first-child {
    align-self: flex-end;
}
p {
    padding: .5rem;
}

#loginScreen>section:last-child {
    align-self: flex-start;
}

.gameScreen {
    width: 100%;
    height: 100vh;
}
.player-self{
    grid-column: 1/3;
    grid-row:1/3; 

}
.info-box {
    grid-column: 1/3;
    grid-row:3/4;
}
.vote {
    border: solid 1px purple;
    width: 2em;
    height: 1em;
    
    position: absolute;
    background: red;
    bottom: 0;
    right: 0;
}
.vote-yes{
    background: green;
}
.vote-no {
    background: red;
}

.players {
    padding:.5rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr repeat(4,1fr);
    min-height: 20%;
    /* border: solid 1px red; */
}
.player.liberal{
    background: linear-gradient(to top left,var(--blue) -10%,var(--red) 200%) !important;
}
.player.fascist {
        background: linear-gradient(to top left,var(--red) -10%,var(--red) 200%) !important;

}
.players>div {
    /* background: linear-gradient(to top left,var(--blue) -10%,var(--red) 200%); */

    background: linear-gradient(to top left,rgba(230,230,230,.3),rgba(230,230,230,0.3));
    border-radius: .5rem;
    backdrop-filter: blur(1px);
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height:5rem;
    /* border: solid 1px white; */
}
.players>.player{
    background: linear-gradient(#aaa,#bbb);
}

.player.active {
    background: #CCCCE8;
}
span.status {

}
span.role {

}



@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.player>h2{
    font-weight: 600;
    font-size: 1rem;
    margin: .5em;
    color: #ddd;
}
.player.hitler::before{
    display: flex;
    justify-content: center;
    content: 'HITLER';
    position: absolute;
    color:#F76573;
    opacity: .1;
    width:100%;
    font-size: 3rem;
    font-weight: 1000;
    bottom:0;

    transition: all 2s ease-in-out;
}
.player.offline::after {
    border:solid 2px white;
    background-color: rgb(238, 90, 90) !important;
    animation: blinker 1s ease-in-out infinite !important;
}
.player.online::after {
    
}
.player::after {
    /* border: solid 2px white; */
    content: '';
    display: block;
    position: absolute;
    min-width:.75em;
    height:.75em;
    right:0px;
    border-radius: 50%;
    margin: 5px;
    top:0;
    background-color: rgb(144, 199, 61) !important; 
}

.player.chancellor::before {
    content: 'CHANCELLOR';
    background: linear-gradient(to top right, #222,#333);
}

.chancellor.fascist::before,.president.fascist::before,.hitler.president::before{
    background-color: rgb(182, 107, 107) !important;
}
.chancellor.liberal::before,.president.liberal::before{
    background-color: rgb(83, 196, 196) !important;

}


.hitler.president::before{

}




.player.president::before {
    content: 'PRESIDENT';
    background: #7a8e96;
}
.player.president::before, .player.chancellor::before{
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7em;
    position: absolute;
    padding: 1em;
    height:2em;
    bottom:0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 1;
}




@media screen and (min-width: 1000px) {
    .players {
        padding:1rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr repeat(8,1fr);
        grid-template-rows: 1fr;
    
        height: 30%;
        
    }
 

    #loginScreen {
        grid-template-columns: 5fr 1fr 5fr ;
        /* align-self: unset; */
        height: 100vh;
        /* justify-content: center; */

    }

    #loginScreen>section{
        /* align-self: flex-end; */
       height: 100vh;

    }
    #loginScreen>section:first-child{
        /* justify-self: center; */
        justify-self: flex-end;
        height:100vh;
    }
    #loginScreen>section:last-child {
        justify-self: flex-start;
    }
    .input  {
        display: grid;
    }


    #or {
        flex-direction: row;
    }
    .hline{
        height: var(--hline-size);
        background-color: var(--light-blue);
        border-radius: 1em;
        min-width: calc(var(--hline-size)*5);
        margin:0 1em;
    }


  }