body {
}
:root {
    --fas_light: #db86a2;
    --fas_dark: #552f47;
    --lib_light: #12eaea;
    --lib_dark: #136074;
    --dark: #28112B;
    --light: #f7ffe0;
}
.liberal {
    /* background-color: var(--lib_light);
    height: 500px;
    border: solid 20px var(--lib_dark); */
}
.fascist {
    /* background-color: var(--fas_light);
    height: 500px;
    border: solid 20px var(--fas_dark); */
}
.jumbo {

}

.card{
    width: 150px;
    height: 200px;
    border: solid 1px var(--lib_dark);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 9px 11px 16px -4px rgba(0,0,0,0.53);
}
.card-placeholder{
    width: 120px;
    height: 150px;
    border: dashed 2px var(--lib_dark);
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 10px;
    background-color: gainsboro;
}
.card-placeholder p {
    
    font-size: 8px;
    font-weight: 100;
}
.cards .card h5 {
    opacity: 0.9;
    font-weight: 200;
}
.liberal .cards .card {
    background-color: darkseagreen;
    color: white;
    
}
.fascist .cards .card {
    background-color: var(--fas_light);
    color: white;
}

.cards{
    display: flex;
    border-radius: 5px;
}
.players {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;

}


.player {
  border-radius: 10%;
}
.player>h1{
    font-size: 100px;
}
.president {
    background-color: goldenrod;
}
.chancellor {
    background-color: silver;
}